.sidebarmap-container {
    min-height: 50vh;
    display: flex;
    background: var(--color-primary);
}

.sidebarmap-banner {
    padding: 25px;
    text-align: center;
    background: var(--color-primary);
    z-index: 10000;
}

.sidebarmap-banner img {
    min-width: 75px;
}

.sidebarmap-logo {
    font-size: 40px;
}

.sidebarmap-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.sidebarmap-bar-container a:hover {
    background: #17D6EB;
}

.sidebarmap-back {
    width: 48px;
    height: 48px;
    border: 0;
    background: #12AFCB;
    min-height: 48px;
    border-radius: 16px;
    background: #12AFCB;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-self: flex-end;
    margin-left: auto;
}

a.sidebarmap-back svg {
    color: var(--color-button-text)!important;
  }

.sidebarmap-location {
    display: flex;
    flex-direction: column;

    line-height: 24px;
}

.sidebarmap-location strong {
    font-weight: 800;
}

.sidebarmap-location span {
    font-weight: lighter;
}

@media (min-width: 900px) {

    .sidebarmap-container {
        max-width: 300px;
        margin: 0 auto;
    }

    .sidebarmap-banner {
        padding: 80px;
        min-height: 100vh;
        background-color: #15C3D6;
        display: flex;
        flex-direction: column;
        text-align: initial;
    }

    .sidebarmap-logo {
        font-size: 70px;
    }

    .sidebarmap-banner img {
        width: 75px;
    }

    .sidebarmap-banner h2{
        line-height: 55px;
        font-size: 40px;
        margin-bottom: 10px;
    }
} 







