.dashboard-marker-icon {
    width: 48px;
    height: 48px;
    background-color: #FFD666;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}


.dashboard-main {
    flex: 1;
    min-height: 100vh;
    padding: 40px;
}

.dashboard-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4D6F80;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.dashboard-title h2 {
    font-size: 32px;
}

.dashboard-orphanages {
    /* border: solid 4px red; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.no-pending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ccc;
    margin-top: 150px;
}

.no-pending p {
    margin-top: 15px;
}

@media (min-width: 900px) {

    .dashboard-main {
        padding-left: 150px;
    }
} 

