.page-landing {
    height: 60vh;
    /* border: 3px solid green; */
}

.page-landing .content-wrapper {
    background: url('../../images/landing.svg') no-repeat center;
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 2px solid red; */
    height: 90%;
}

.content-wrapper .enter-app, .content-wrapper .enter-app-active  {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 80px;
    height: 80px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;

    background: var(--color-line-in-white);
    color: var(--color-text-complement);
    cursor: not-allowed;
    pointer-events: none;
}

.content-wrapper .enter-app-active {
    background-color: #ffd666;
    color: var(--color-text-complement);
    cursor: pointer;
    pointer-events: auto;
}

.content-wrapper .enter-app:hover {
    background-color: #96FEFF;
}

.restrict-access, .restrict-access-active {
    width: 222px;
    height: 56px;
    position: absolute;
    right: 0;
    border-radius: 16px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font: 600 18px Nunito, sans-serif;
    text-decoration: none;
    background: var(--color-line-in-white);
    color: var(--color-text-complement);
    cursor: not-allowed;
    pointer-events: none;
}

.restrict-access-active {
    background: #12D4E0;
    color: var(--color-text-in-primary);
    cursor: pointer;
    pointer-events: auto;
}

.restrict-access:hover {
    background-color: #96FEFF;
}

@media (min-width: 900px) {

    .page-landing {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .page-landing .content-wrapper {
        position: absolute;
        margin-right: 80px;
        width: 50%;
        height: 95%;
    }

    .restrict-access, .restrict-access-active {
        position: absolute;
        top: 0;
        width: 195px;
    }
} 

