.login-container {
    display: flex;
    background: var(--color-background);
    padding: 2rem;
}

.login-container > form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-container form fieldset {
    border: 0;
}

.login-container .top-bar-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-int-primary);
    padding: 1.6rem 0;
}

.login-container .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.login-container .top-bar-container a:hover {
    opacity: 0.6;
}

.login-back {
    width: 48px;
    height: 48px;
    min-height: 48px;
    border-radius: 16px;
    background-color: #ebe2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-self: flex-end;
    margin-left: auto;
}

.login-container form fieldset legend a {
    display: none;
}

.login-container form fieldset legend p {
    color: var(--color-text-title);
    font: 700 3.2rem Nunito;
}

.login-container form fieldset legend + span {
    color: var(--color-text-title);
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex
}

.login-submit,
.login-submit-active {
    flex: 1;
    display: flex;
    width: 100%;
    padding: 1.6rem 0;
    justify-content: center;
    align-items: center;
    background: var(--color-line-in-white);
    color: var(--color-text-complement);
    border: 0;
    outline: 0;
    transition: 0.2s;
    border-radius: 0.8rem;
    cursor: not-allowed;
    margin-top: 10px;
}

.login-submit-active {
    background: var(--color-secondary);
    color: var(--color-button-text);
    cursor: pointer;
}

.login-submit-active:hover {
    background: var(--color-secondary-dark);
    color: var(--color-button-text);
}


.login-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.login-option-remember {
    display: flex;
    align-items: center;
}

.login-options a{
    color: var(--color-primary-dark);
    font-weight: 700;
}

.login-option-remember p {
    color: #8FA7B2;
    margin-left: 10px;
}

.login-checkbox {
    background-color: white;
    border-radius: 8px;
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    transition: 0.5s;
}

.login-checkbox-active {
    background-color: #37C77F;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.login-footer{
    display: none;
}

.login-footer .signup{
    font-family: Nunito;
    font-size: 1.8rem;
}

.login-footer .signup p{
    color: var(--color-primary-darker);
    font-weight: 400;
}

.login-footer .signup a{
    color: var(--color-primary-dark);
    font-weight: 700;
}

.login-footer span{
    font: 400 1.8rem Nunito;
    color: var(--color-text-complement);
}


@media (min-width: 900px) {

    .login-container > form {
        min-height: 100vh;
        flex: 1 1;
        background: var(--color-background);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .login-container form fieldset {
        width: 65%;
    }

    .login-container .top-bar-container {
        width: 90%;
    }

    
    .login-footer {
        margin-top: 2rem;
        display: flex !important;
        justify-content: space-between;
        width: 100%;
    }
}
  