.resetpassword-container {
    display: flex;
    background: var(--color-background);
    padding: 2rem;
}

.resetpassword-container > form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resetpassword-container form fieldset {
    border: 0;
}

.resetpassword-container .top-bar-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-int-primary);
    padding: 1.6rem 0;
}

.resetpassword-container .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.resetpassword-container .top-bar-container a:hover {
    opacity: 0.6;
}

.resetpassword-back {
    width: 48px;
    height: 48px;
    min-height: 48px;
    border-radius: 16px;
    background-color: #ebe2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-self: flex-end;
    margin-left: auto;
}

.resetpassword-container form fieldset legend a {
    display: none;
}

.resetpassword-container form fieldset legend p {
    color: var(--color-text-title);
    font: 700 3.2rem Nunito;
}

.resetpassword-container form fieldset legend + span {
    color: var(--color-text-title);
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex
}

.resetpassword-submit,
.resetpassword-submit-active {
    flex: 1;
    display: flex;
    width: 100%;
    padding: 1.6rem 0;
    justify-content: center;
    align-items: center;
    background: var(--color-line-in-white);
    color: var(--color-text-complement);
    border: 0;
    outline: 0;
    transition: 0.2s;
    border-radius: 0.8rem;
    cursor: not-allowed;
    margin-top: 10px;
}

.resetpassword-submit-active {
    background: var(--color-secondary);
    color: var(--color-button-text);
    cursor: pointer;
}

.resetpassword-submit-active:hover {
    background: var(--color-secondary-dark);
    color: var(--color-button-text);
}


@media (min-width: 900px) {

    .resetpassword-container > form {
        min-height: 100vh;
        flex: 1 1;
        background: var(--color-background);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .resetpassword-container form fieldset {
        width: 65%;
    }

    .resetpassword-container .top-bar-container {
        width: 90%;
    }
}
  