#page-signup .signup-container {
    width: 100%;
    background: var(--color-background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: Nunito;
    color: var(--color-text-title);
}

#page-signup .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-int-primary);
    padding: 1.6rem 0;
}

#page-signup .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

#page-signup .top-bar-container a:hover {
    opacity: 0.6;
}


@media (min-width: 900px) {

    #page-signup .testforms-button {
        font-size: 40px;
    }
}
  